<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Songs Map</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script>
        function displayTodayDate() {
            const today = new Date();
            const options = { year: 'numeric', month: 'long', day: 'numeric' }; // Format: November 25, 2024
            const formattedDate = today.toLocaleDateString('en-US', options);
            document.getElementById('today-date').textContent = formattedDate;
        }
    </script>
</head>
<body onload="displayTodayDate()">
    <header>
        <h1>Explore Today's Top Songs</h1>
        <nav>
            <a href="/leaderboard">Leaderboard</a>
            <a href="/hidden-gems">Hidden Gems</a>
        </nav>
    </header>
    <div class="content">
        <h2><span id="today-date"></span></h2>
        <p>Discover today's most popular songs around the world!</p>
        <div class="map-container">
            <iframe src="/map"></iframe>
        </div>
        <div id="query-results">
            <div id="country-header">
                <h3></h3>
            </div>
            <div id="results-content">
                <p>Select a country to see the top track.</p>
            </div>
        </div>
        
    </div>
</body>
<footer>
    <p>&copy; 2024 Crue Unc
    </p>
</footer>
</html>

