<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Songs Map</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Explore Today's Top Songs</h1>
    </header>
    <nav>
        <a href="/leaderboard">Leaderboard</a>
    </nav>
    <div class="content">
        <p>Discover today's most popular songs around the world!</p>
        <div class="map-container">
            <iframe src="/map"></iframe>
        </div>
        <div id="query-results">
            <div id="country-header">
                <h3></h3>
            </div>
            <div id="results-content">
                <p>Select a country to see the top track.</p>
            </div>
        </div>
        
    </div>
</body>
<footer>
    <p>&copy; 2024 Crue Unc
    </p>
</footer>
</html>

